# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Local environment
.env
.env.*

# Build artifacts
/app/bin/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan

# Google GitHub Actions authentication
gha-creds-*.json
